@model IEnumerable<PC.Models.Shop>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopDatails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopPirce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopDatails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopPirce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopState)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShopId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShopId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShopId })
            </td>
        </tr>
    }

</table>
