@model IEnumerable<PC.Models.Shop>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<script src="~/Content/layui.js"></script>
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<p>
</p>
<div>
    @*<div class="layui-carousel" id="test1" lay-filter="test1">
        <div carousel-item="" style="width:500px;height:500px;">*@
    @foreach (var item in Model)
    {
        <div style="margin-left:5%;float:left;">
            <table class="layui-table" style="width:300px;">
                <tr>
                    <td colspan="2"><img src="@item.ShopPicture" style="margin-left:30%"  alt="Alternate Text" /></td>
                </tr>
                <tr>
                    <td>商品名称</td>
                    <td>@item.ShopName</td>
                </tr>
                <tr>
                    <td>商品标题</td>
                    <td>@item.ShopTitle</td>
                </tr>
                <tr>
                    <td>商品详情</td>
                    <td>@item.ShopDatails</td>
                </tr>
                <tr>
                    <td>商品价格</td>
                    <td>@item.ShopPrice</td>
                </tr>
                <tr>
                    <td>商品状态</td>
                    <td>@item.ShopState</td>
                </tr>
                <tr>
                    <td>商品数量</td>
                    <td>@item.ShopSum</td>
                </tr>
            </table>
        </div>
    }
    <p hidden>@ViewBag.index @ViewBag.count</p>
    <table style="width:500px;height:50px;float:left;position:absolute;margin-top:550px;margin-left:220px;">
        <tr>
            <td><input type="button" style="margin-left:30px;" class="layui-btn" name="name" value="首页" onclick="location.href='/Shop/Index/?pageindex=1'" /></td>
            <td><input id="btnUp" type="button" class="layui-btn" name="name" value="上一页" onclick="location.href='/Shop/Index/?pageindex='+@(ViewBag.index-1)" /></td>
            <td><input id="btnDown" type="button" class="layui-btn" name="name" value="下一页" onclick="location.href='/Shop/Index/?pageindex='+@(ViewBag.index+1)" /></td>
            <td><input type="button" class="layui-btn" name="name" value="尾页" onclick="location.href='/Shop/Index/?pageindex=@ViewBag.count'" /></td>
        </tr>
    </table>
</div>
@*</div>

    </div>*@
<script>
    layui.use([ 'form'], function () {
        var  form = layui.form;
    });
    if (@ViewBag.index<= 1) {
        $("#btnUp").mousedown(function () {
            this.onclick = false;
        })
    }
    if (@ViewBag.count==@ViewBag.index) {
        $("#btnDown").mousedown(function(){
            this.onclick = false;
        })
    }
</script>
