@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<script src="~/Scripts/element-ui.js"></script>
<script src="~/Scripts/vue.js"></script>
<script src="~/Content/layui.js"></script>
<link href="~/Content/layui.css" rel="stylesheet" />
<div id="app">
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayName("订单号")
                </th>
                <th>
                    @Html.DisplayName("用户Id")
                </th>
                <th>
                    @Html.DisplayName("运费")
                </th>
                <th>
                    @Html.DisplayName("订单状态")
                </th>
                <th>
                    @Html.DisplayName("价格")
                </th>
                <th>
                    @Html.DisplayName("下单时间")
                </th>
                <th>
                    @Html.DisplayName("付钱时间")
                </th>
                <th>
                    @Html.DisplayName("签收时间")
                </th>
                <th></th>
            </tr>
            <tr v-for="site in sites">
                <td>
                    {{site.OrderNumber}}
                </td>
                <td>
                    {{site.UserId}}
                </td>
                <td>
                    {{site.Freight}}
                </td>
                <td>
                    {{site.OrderState}}
                </td>
                <td>
                    {{site.TurePrice}}
                </td>
                <td>
                    {{site.PaymentTime}}
                </td>
                <td>
                    {{site.ShipmentTime}}
                </td>
                <td>
                    {{site.HarvestTime}}
                </td>
            </tr>
        </table>*@

</div>

<script>
    window.onload = function () {
        var vm = new Vue({
            el: '#app',
            data: {
                sites: []
            },
            created() {
                axios.get('http://localhost:52721/api/orderApi/GetOrders')
                    .then((response) => {
                        console.log(response.data);
                        this.sites = response.data;
                    })
            }

        })
    }

</script>
